# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [13]:
import pandas as pd
import pandas_datareader as pdr

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [14]:
import datetime
datelist = pd.date_range(start = "01/01/2015", end = datetime.datetime.today().strftime('%d/%m/%Y'))
datelist

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2022-10-29', '2022-10-30', '2022-10-31', '2022-11-01',
               '2022-11-02', '2022-11-03', '2022-11-04', '2022-11-05',
               '2022-11-06', '2022-11-07'],
              dtype='datetime64[ns]', length=2868, freq='D')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [22]:
df_apple = pdr.av.time_series.AVTimeSeriesReader(symbols="AAPL", start="01/01/2015", end="11/07/2022", api_key="OWKAWG8GLICHFNU6")
apple = df_apple.read()
apple.head()

              open    high      low   close    volume
2015-01-02  111.39  111.44  107.350  109.33  53204626
2015-01-05  108.29  108.65  105.410  106.25  64285491
2015-01-06  106.54  107.43  104.630  106.26  65797116
2015-01-07  107.20  108.20  106.695  107.75  40105934
2015-01-08  109.23  112.15  108.700  111.89  59364547

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [23]:
apple["stock"] = "AAPL"
apple.head()

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [24]:
df_tesla = pdr.av.time_series.AVTimeSeriesReader(symbols="TSLA", start="01/01/2015", end="11/07/2022", api_key="OWKAWG8GLICHFNU6")
tesla = df_tesla.read()
tesla["stock"] = "TSLA"
tesla.head()

              open      high       low    close   volume stock
2015-01-02  222.87  223.2500  213.2600  219.310  4764443  TSLA
2015-01-05  214.55  216.5000  207.1626  210.090  5368477  TSLA
2015-01-06  210.06  214.2000  204.2100  211.280  6261936  TSLA
2015-01-07  213.35  214.7800  209.7800  210.950  2968390  TSLA
2015-01-08  212.81  213.7999  210.0100  210.615  3442509  TSLA

In [25]:
df_ibm = pdr.av.time_series.AVTimeSeriesReader(symbols="IBM", start="01/01/2015", end="11/07/2022", api_key="OWKAWG8GLICHFNU6")
ibm = df_ibm.read()
ibm["stock"] = "IBM"
ibm.head()

              open     high     low   close   volume stock
2015-01-02  161.31  163.310  161.00  162.06  5525341   IBM
2015-01-05  161.27  161.270  159.19  159.51  4880389   IBM
2015-01-06  159.67  159.960  155.17  156.07  6145670   IBM
2015-01-07  157.20  157.200  154.03  155.05  4701015   IBM
2015-01-08  156.24  159.044  155.55  158.42  4240585   IBM

In [26]:
df_microsoft = pdr.av.time_series.AVTimeSeriesReader(symbols="MSFT", start="01/01/2015", end="11/07/2022", api_key="OWKAWG8GLICHFNU6")
microsoft = df_microsoft.read()
microsoft["stock"] = "MSFT"
microsoft.head()

             open     high    low   close    volume stock
2015-01-02  46.66  47.4200  46.54  46.760  27913852  MSFT
2015-01-05  46.37  46.7300  46.25  46.325  39673865  MSFT
2015-01-06  46.38  46.7490  45.54  45.650  36447854  MSFT
2015-01-07  45.98  46.4600  45.49  46.230  29114061  MSFT
2015-01-08  46.75  47.7499  46.72  47.590  29645202  MSFT

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [68]:
df = pd.concat([apple, ibm, tesla, microsoft])
df

              open     high      low   close    volume stock
2015-01-02  111.39  111.440  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.650  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.430  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.200  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.150  108.700  111.89  59364547  AAPL
...            ...      ...      ...     ...       ...   ...
2022-07-01  256.39  259.770  254.610  259.58  22837692  MSFT
2022-07-05  256.16  262.980  254.740  262.85  22971634  MSFT
2022-07-06  263.75  267.990  262.400  266.21  23824419  MSFT
2022-07-07  265.12  269.055  265.020  268.40  20859874  MSFT
2022-07-08  264.79  268.100  263.285  267.66  19658751  MSFT

[7568 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [82]:
df.set_index('stock', inplace = True, append=True)

### Step 7. Create a dataFrame called vol, with the volume values.

In [93]:
vol = pd.DataFrame(df['volume'])
vol.head()

                    volume
           stock
2015-01-02 AAPL   53204626
2015-01-05 AAPL   64285491
2015-01-06 AAPL   65797116
2015-01-07 AAPL   40105934
2015-01-08 AAPL   59364547

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [99]:
vol.index = pd.to_datetime(vol.index.get_level_values(0))
vol['week'] = vol.index.get_level_values(0).week
vol['year'] = vol.index.get_level_values(0).year
vol.head()

week = vol.groupby(['week','year']).sum()
week

/tmp/ipykernel_68907/522554764.py:2: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  vol['week'] = vol.index.get_level_values(0).week

              volume
week year
1    2015   91408262
     2016  622712740
     2017  231197986
     2018  317563780
     2019  474835490
...              ...
52   2019  207222233
     2020  703686514
     2021  532407825
53   2015  247248868
     2020  677106789

[393 rows x 1 columns]

### Step 9. Find all the volume traded in the year of 2015

In [101]:
year = vol.groupby(['year']).sum()
year['volume']

year
2015    24314152987
2016    19687114863
2017    14820681339
2018    19829108625
2019    16558433421
2020    37020795071
2021    37593078828
2022    20891262578
Name: volume, dtype: int64